{% extends 'layout.html' %}

{% block body %} 
<h1 id="name">Aquarius ♒️</h1>
<ul>
        <li><span> Dates:</span> January 21 – February 18</li>
        <li><span> Symbol:</span> The Water Bearer  </li>
        <li> <span> Mode + Element:</span> Fixed Air    </li>  
        <li> <span>Ruling Planet: </span>Saturn, Uranus</li>
        <li><span> Colors: </span>Silver, Blue</li>
        <li><span> Most Compatible With: </span>Libra & Gemini</li>
        <li><span> Least Compatible With: </span>Taurus & Scorpio</li>
</ul>

<div id="traits">
        <h4>WHAT ARE AQUARIANS INTO?</h4>

        <p><span>Sci fi.</span> This could manifest in literal astronaut training/ambitions, or more everyday interests like astrology, aliens, binge-watching Netflix series about space travel and new worlds.</p>
        
        <p><span>Technology.</span> Oh, they love a phone upgrade! Give them techy toys, and leave them alone for days. They will not complain.</p>
        
        <p> <span>Writing.</span> When there is so much going on in your head, you gotta' get it out, right? And Aquarians usually have a lot to say, and the vocab/eloquence to say it beautifully.</p>
        
        <p><span>Flying.</span> They are an Air sign, after all, so the wide open space above us is their natural element. Any opportunity to fly, hang glide, sky dive or get up in the clouds is welcome and snapped up</p>
        
         <p> <span>Avante garde art.</span>The latest poem consisting of only words beginning with 'A', or a new artwork featuring simply an upturned dustbin, may not appeal to us mere mortals... but Aquarius laps up the extreme, edgy and, well, frankly, weird shit in the arts world. They get it.</p>
                 
</div>

<img src="{{url_for('static', filename='aquarius.png')}}"/>



{%endblock%}