{% extends 'layout.html' %}

{% block body %} 
<h1 id="name">Aries ♈︎ </h1>
<ul>
        <li><span>Dates:</span> March 21 – April 19</li>
        <li><span>Symbol:</span> The Ram </li>
        <li><span>Mode + Element:</span> Cardinal Fire </li>
        <li><span>Ruling Planet:</span> Mars </li>
        <li><span>Colors:</span> Red & Mustard </li>
        <li><span>Most Compatible With:</span> Sagittarius & Leo </li>
        <li><span>Least Compatible With:</span> Cancer & Capricorn </li>
</ul>

<div id="traits">
        <h4>WHAT ARE ARIES INTO?</h4>
        <p><span>Sports.</span> If they’re not playing it, they’re watching it or (a typical vice…) betting on it. Bookie shops are chocca block with Aries folk. </p>
        
        <p><span>Volunteering.</span> Their natural generosity, interest in other people and helping make them happier draws many Aries people into charity, campaigning and mentoring work. </p>
        
        <p><span>White knuckle weekends.</span> Have you seen The Hangover? That would be classed as a *chill sesh* to many Aries. DON’T let them organise your stag or hen, nope no way. </p>
        
        <p><span>Showbiz.</span> Being the centre of attention is their cat nip, receiving applause, basking in the limelight. </p>
        
        <p><span>Home improvement.</span> For such an outgoing, social sign, they do take a great deal of pride in their homes. King and Queen of the Castle, thank you very much. DIY is, also, like a competition with tools. </p>
                 
</div>

<img src="{{url_for('static', filename='aries.png')}}"/>



{%endblock%}