{% extends 'layout.html' %}

{% block body %} 
<h1 id="name">Cancer ♋️</h1>
<ul>
        <li><span>Dates:</span> June 21 to July 22 </li>
        <li><span>Symbol:</span>Crab</li>
        <li><span>Mode + Element:</span> Cardinal Water</li>
        <li><span>Colors:</span> Silver, white</li>
        <li><span>Most Compatible With:</span> Pisces & Scorpio</li>
        <li><span>Least Compatible With:</span> Aries & Libra</li>
</ul>

<div id="traits">
        <h4>WHAT ARE CANCERIANS INTO?</h4>
<p><span>Chillin’ in the bath. </span> If you can’t contact them, chances are they’re in the bath. Seriously, this star sign is drawn to water, well, like a crab to the sea. They are big on self care and bathing is more than just a cleansing exercise, it’s an opportunity to ponder, daydream, indulge themselves in pampering and slip away from real life for a while. Bliss.</p>

<p><span>Being ‘fake’ poorly. </span> This is one of their signature strategies for gaining attention- plus it enables them to wear their PJs in the daytime, laze about, guzzle whatever they like, and have a lil’ Self Pity Party. You’re only invited if you’re serving up buckets of sympathy.</p>

<p><span>Beautifying their world. </span> Cancerians are innately creative and imaginative, and love beautiful things. Looking good is important to them, as is making their home/room/desk/car look on trend and welcoming.</p>

<p><span>Maintaining intense friendships. </span> As previously stated, Cancerians are intuitive people who know (and keep) your darkest secrets. They can't be bothered with relationships which are just about fun or never go beyond skin-deep. They want to be as close and connected with those they love and like as possible.</p>

</div>
<img src="{{url_for('static', filename='cancer.png')}}"/>



{%endblock%}