{% extends 'layout.html' %}

{% block body %} 


<h1 id="name">Gemini ♊️</h1>

<ul>
        <li><span>Dates:</span> May 22 – June 21</li>
        <li><span>Symbol:</span> The Twins</li>
        <li><span>Mode + Element:</span> Mutable Air</li>
        <li><span>Ruling Planet:</span> Mercury</li>
        <li><span>Colors:</span> Yellow, Blue</li>
        <li><span>Most Compatible With:</span> Libra & Aquarius</li>
        <li><span>Least Compatible With:</span> Virgo & Pisces</li>
</ul>

<div id="traits">
        <h4>WHAT ARE GEMINIS INTO?</h4>
       <p><span>Reading and writing.</span>  Words are their catnip, they HAVE to communicate and they HAVE to know. If humanity ever reaches a Matrix-style scenario, where we’re all hooked up to some damned psychic/mind sharing machine… you can bet the first person plugging themselves in will be a curious Gemmy.</p>
        
       <p><span>Travel.</span>  Travelling is like an instant mood/life/scene change so Gemmys queue up, year-round, to take a trip and see the world. They truly come alive when they’re immersing in other cultures… albeit probably only for, like, a weekend. Then they’re ready for the next scene-change.</p>

       <p><span>Partying.</span>  There is literally no “off” button. Bear in mind, older Gemmys may move from the night club into day drinking or dinner parties. The key is that whatever equates to partying in their mind is what they’ll prioritise above almost everything else on the schedule.</p>

       <p><span>Making a gazillion friends (then not speaking to any of them).</span>  People = information, so Gemini likes to procure a large garden of contacts they can call upon. That said, the emotional requirements of maintaining relationships can swiftly overwhelm them and then, honestly, they just cut the (now) dead wood away. Brutal. I think a Gemini invented ghosting.</p>

       <p><span>Chatting and drinking wine.</span>  Blah blah blah, hate her, blah blah blah, did you know what happened? NO?? You didn’t know??? Let me update you, my friend, ohmigod, but first, REFRESHMENTS - go get me a drink … NOW … right, you won’t BELIEVE this….</p>
</div>

<img src="{{url_for('static', filename='gemini.png')}}"/>


{%endblock%}