<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Star Crossed</title>
</head>
<body>
    <h1 id="main-title"> ✨Star Crossed 💫</h1>
    {% block body %}{% endblock %}
</body>
</html>