{% extends 'layout.html' %}

{% block body %} 
<h1 id="name">Libra ♎️</h1>
<ul>
        <li><span>Dates:</span> September 23 – October 22</li>
        <li><span>Symbol:</span> The Scales</li>
        <li><span>Mode + Element:</span> Cardinal Air</li>
        <li><span>Ruling Planet:</span> Venus</li>
        <li><span>Colors:</span> Ivory, Pink, Light Blue</li>
        <li><span>Most Compatible With:</span> Gemini & Aquarius</li>
        <li><span>Least Compatible With:</span> Cancer & Capricorn</li>
</ul>

<div id="traits">
        <h4>WHAT ARE LIBRAS INTO?</h4>
        <p><span>Shopping.</span> Buying new stationery/shoes/skincare/bedding/underwear/candles/flavoured coffee/outfits etc is like instant access to happiness for Libra. They have impeccable taste and like elegant, good quality, coveted pieces which they can showcase (*ahem* show OFF) to others.</p>

        <p><span>Being in lovveee.</span> Libra hates to be alone - except when they’re writing a list (which is a frequent, and also intense, activity). They like to do everything with someone by their side, and ideally that someone is an object of affection. Librans loved to be loved, be in love, and love others. They’re that friend that ghosts you when they get a new partner. See ya Libra - Cupid’s hostage. </p>

        <p><span>Mediating.</span> Getting all up in other people’s business is catnip. Especially when there’s a *thorny issue* to be unpicked and unravelled and sorted out. As long as none of the drama is going to blow back on them (conflict is a no-no) they will happily wade into and help resolve any and all issues.</p>

        <p><span>DIY/cleaning.</span> Beautifying their surroundings is #goals. Mrs Hinch is like a Goddess to Libra, albeit they’d MUCH prefer ‘others’ did the doing while they ‘direct’ (their *faultless* logic will justify this somehow). This is what a Libran’s partner is for.</p>

        <p><span>Overthinking.</span> They could make it into the Olympic team for over-thinkers.
</div>

<img src="{{url_for('static', filename='libra.png')}}"/>



{%endblock%}