{% extends 'layout.html' %}

{% block body %} 
<h1 id="name">Pisces ♓️</h1>
<ul>
        <li><span>Dates:</span> February 19 to March 20</li>
        <li><span>Symbol:</span> Pair of Fish</li>
        <li><span>Mode + Element:</span> Mutable Water</li>
        <li><span>Planet:</span> Jupiter, Neptune</li>
        <li><span>Colors:</span> Silver, Blue</li>
        <li><span>Most Compatible With:</span> Scorpio & Cancer</li>
        <li><span>Least Compatible With:</span> Gemini & Sagittarius</li>
</ul>

<div id="traits">
        <h4>WHAT ARE PISCEANS INTO?</h4>

        <p><span>Anything water-related.</span> Being in or near water truly makes them happy: swimming, sailing, fishing, surfing, even just walking on the beach. Bliss.</p>

        <p><span>Dancing.</span> Neptune rules dance! Pisceans, physically, often have very slinky bodies which seem to slip and glide along. Hypnotic.</p>

        <p><span>Being witchy.</span> This may manifest as simply binge-watching the Chilling Adventures of Sabrina a lot, or they may actually be the one giving you tarot readings, wafting sage over your bed and advising on crystals.</p>

        <p><span>Writing.</span> Drawn to self expression which they alone can control (vs having to navigate the rough'n'tumble of conversation!) Pisceans always have a lot of observations and insights to share, they are poetic and lyrical too.</p>

        <p><span>The Part-tay.</span> I mean Rihanna is a Pisces, so you get the picture.</p>
                 
</div>

<img src="{{url_for('static', filename='pisces.png')}}"/>



{%endblock%}