{% extends 'layout.html' %}

{% block body %} 
<h1 id="name">Sagittarius ♐️</h1>
<ul>
        <li><span>Dates:</span> November 22 to December 21</li>
        <li><span>Symbol:</span> The Centaur / Archer</li>
        <li><span>Mode + Element:</span> Mutable Fire</li>
        <li><span>Ruling Planet:</span> Jupiter</li>
        <li><span>Ruling Planet:</span> Sun</li>
        <li><span>Colors:</span> Maroon & Navy blue</li>
        <li><span>Most Compatible With:</span> Leo & Aries</li>
        <li><span>Least Compatible With:</span> Virgo & Pisces</li>
</ul>

<div id="traits">
        <h4>WHAT ARE SAGITTARIANS INTO?</h4>
        <p><span>Pets.</span> Horses and dogs especially, but ALL creatures bright and beautiful/great and small make the wish list. You may sense your Saggie friend is an animal-whisperer of sorts, and you may well be right. They feel a kinship with the animal world, they respect and admire the way that animals rely on their instincts and live only in the moment.</p>
        
        <p><span>Travelling.</span> The open plain, the far-reaching seas, the distant horizon… these things make Saggies grin, because they LOVE to get out there and roam around discovering new places, cultures and people. New landscapes stimulate them, they are the zodiac’s great adventurer.</p>
        
        <p><span>Sports.</span> Physically adept, competitive and outdoorsy, most Saggies are built to play sports. They thrive on the challenge of winning (that Fire sign streak), and they enjoy the team-building (their open and friendly personality makes them a hit with most other players).</p>

        <p><span>Writing.</span> They love to express themselves (#nofilter) and they do have a lot to say as they’re perceptive and social, they take in a LOT of stimulus. Many Saggies find words come easily to them, and they enjoy entertaining people. Writing delivers on all these fronts.</p>

        <p><span>Flirting.</span>  You know what I’ve been saying about freedom and adventure? Well it kinda applies to their love live too (sorry). PSA: flirting is like breathing to Sagittarians, everyone is a potential target, this is the area of life they most enjoy ‘hunting’. More often than not, it’s harmless fun - but not always. They can’t help themselves sliding into those DMs…</p>
</div>

<img src="{{url_for('static', filename='sagittarius.png')}}"/>



{%endblock%}