{% extends 'layout.html' %}

{% block body %} 
<h1 id="name">Scorpio ♏️</h1>

<ul>
        <li><span>Dates:</span> October 23 to November 21</li>
        <li><span>Symbol:</span> Scorpion</li>
        <li><span>Mode + Element:</span> Fixed Water</li>
        <li><span>Planet:</span> Mars, Pluto</li>
        <li><span>Color:</span> Red, black</li>
        <li><span>Most Compatible With:</span> Cancer & Pisces</li>
        <li><span>Least Compatible With:</span> Leo & Aquarius</li>
</ul>

<div id="traits">
        <h4>WHAT ARE SCORPIOS INTO?</h4>
        <p><span>Doing a Ouija board.</span> They’re on good terms with Satan actually, they get Frappuccinos and hang out together at the park on Sunday mornings when it gets a little toasty down there in *you know where*…</p>
        
        <p><span>Meditating.</span> Because they don’t really need anyone else, or (honestly) want their opinion. Retreating into their own headspace is a delight, they can plot and scheme away, and NO ONE can tell what they’re up to, looking all ‘zen’.</p>
        
        <p><span>Climbing da career ladder.</span> Born to rule, to succeed, to excel, to get to the top of whatever tree they’ve chosen to climb. And they’re at it 24:7, they don’t switch ‘off’ from their ‘work (or wherever their ambitions lie) world’, they are always grafting in some capacity, strategising, learning and networking.</p>
        
        <p><span>Forming a cult.</span> Scorpios are drawn to the occult (because other people are wary of it). And they enjoy the games and strategies of control. They can lead others into dark places. A Scorpio with a bad purpose is a dangerous animal.</p>
        
        <p><span>Martial arts.</span> They’re ruled by Mars - combat is in the blood.</p>
</div>

<img src="{{url_for('static', filename='scorpio.png')}}"/>

{%endblock%}