{% extends 'layout.html' %}

{% block body %} 
<h1 id="name">Virgo ♍️ </h1>

<ul>
        <li><span>Dates:</span> August 23 – September 22</li>
        <li><span>Symbol:</span> The Virgin</li>
        <li><span>Mode + Element:</span> Mutable Earth</li>
        <li><span>Ruling Planet:</span> Mercury</li>
        <li><span>Colors:</span> Tan & Warm yellow</li>
        <li><span>Most Compatible With:</span> Taurus & Capricorn</li>
        <li><span>Least Compatible With:</span> Gemini & Sagittarius</li>
</ul>

<div id="traits">
        <h4>WHAT ARE VIRGOS INTO?</h4>
<p><span>Googling their *symptoms*.</span> If hypochondria had a face, it would be that of a solemn, earnest Virgo gazing at you, while tapping simultaneously on the latest doctor app to diagnose themselves with something *terrible*. They can’t help it. They need to label everything.</p>

<p><span>Taking classes.</span> Mercury rules Virgo, and this ruling influence makes them knowledge-THIRSTY. Education, classes, workshops, forums, self-learning modules… they’ll always have some side line whirring, or be learning some skill or topic. A restless, inquiring intellect drives them.</p>

<p><span>Marie Kondo’ing anything that moves.</span> Virgos organize *things* for fun. If there’s a free-style sock drawer, an unalphabetised bookcase or a neglected kitchen cupboard within two miles of them, they’ll find it and SORT IT OUT.</p>

<p><span>Volunteering.</span> I have a Virgo friend, and she literally cannot HELP herself offering to HELP. I’ll sometimes tease her by saying aloud how much I’m struggling to find something out… lo and behold, in minutes, she has gone and done it. I call her ‘Lassie’ (which she despises). Virgos ARE Lassie, though, running around, looking cute, being natural-born do-gooders (in the nicest possible way).</p>

<p><span>Beautifying themselves.</span> Naturally elegant, fascinated by fashion, compelled to make outfits MATCH godammnit, it MUST ALL match. Virgos, despite their modesty, do spend a lot of time messing about in front of the mirror. They value, appreciate and prioritize appearances.</p>
</div>

<img src="{{url_for('static', filename='virgo.png')}}"/>

{%endblock%}